.about {
    background-color: #f6f6f6;
    padding-bottom: 107px;
    
    &__title{
       padding-top: 120px; 
    }
    &__subtitle{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

}

