.main {
@media screen and (orientation: landscape) {
display: flex;
padding-top: 100px;}

@media screen and (orientation: portrait) {
padding-top: 0px;}

    &__Inlin{
        @media screen and (orientation: landscape) 
        {display: none;}
        @media screen and (orientation: portrait) 
        {$p_width: 25px;
        position:fixed;   
        $p_height: 20px;
        $p_border: 3px;
        width: $p_width;
        border-top: $p_border #070707 solid;
        border-bottom:$p_border #070707 solid;

        right: 5px;
        top: 35px;
        
        &__lnk{
            text-decoration: none;
            align-content: space-evenly;
            height: $p_height;
            display: flex;
            flex-wrap: wrap;
                &__border{
                    background-color: black;
                    height: $p_border;
                    width: $p_width;
                    }
            }
    }
    }

    &__discrip{
        @media screen and (orientation: landscape) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
        }
        @media screen and (orientation: portrait) 
        {display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 50px;
        }
        // &__lnk{
        //     display: flex;
        //     width: 100%;
        //     justify-content: space-between;
        //     align-items: center;
        // }
    }
    &__title {
        @media screen and (orientation: landscape) {
        font-size: 47px;
        font-weight: 700;
        width: 123px;
        margin: 0;}
        @media screen and (orientation: portrait) {
        margin: 0;
        font-size: 47px;
        font-weight: 700;
        width: 123px;
        }
    }
    &__text{
        @media screen and (orientation: landscape) {
        font-weight: 500;
        font-size: 18px;
        width: 169px;
        margin: 0;}
        @media screen and (orientation: portrait) {
        font-weight: 500;
        font-size: 25px;
        width: 50%;
        margin: 40px 0 15px 0;}
    }
    &__links{                           //Переворачиваем на 180 градусов
        writing-mode: vertical-lr; 
        transform: rotate(180deg);
        
    }

    &__links{                           //отключаем при повороте экрана
        @media screen and (orientation: portrait) 
        {display: none;}
    }


    &__link{
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        color: #828282;

        &--active{
            color: #070707;
        }
    }
    // :first-child (::after) - первый элемент в классе ЛИНК (после него)
    &__link:first-child::after {
        content: ' ';   //вставляем пробел и закрашиваем
        display: inline-block;
        width: 13px;
        height: 2px;
        background-color: black;
        margin-top: 5px; //отступ слева (после первого элемента)
    }




    &__photo{
        margin-bottom: 104px;
    }
    &__imgH{
        @media screen and (orientation: landscape) 
        {width: 100%;}
    }
    &__imgV{
        @media screen and (orientation: landscape) 
        {width: 100%;
        display: none;}
    }
    &__imgH{
        @media screen and (orientation: portrait) 
        {width: 100%;
        display: none;}
    }
    &__imgV{
        @media screen and (orientation: portrait) 
        {width: 100%;}
    }


}

